{% extends "base.html.twig" %}

{% block title %}
    Publier
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <p>
                Utilisez ce formulaire pour nous soumettre vos publications scientifiques.<br>
                Nos modérateurs procèderont à la validation de votre publication dans les plus brefs délais !
            </p>
        </div>
    </div>

    <div class="container">

        {{ form(form) }}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include "Fragment/tinymce.html.twig" %}
{% endblock %}
