<!-- Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Lien vers le tableau de bord -->
            <a class="navbar-brand" href="{{ path('admin_dashboard') }}">Administration</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ path('admin_science_index') }}">
                        Sciences
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_publication_index') }}">
                        Publications
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_comment_index') }}">
                        Commentaires
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
